.article {
  color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2em;
  grid-gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
}

@media only screen and (min-width: 800px) {
  .article {
    margin-top: 3.5em;
    padding-left: 3em;
    padding-right: 3em;
  }
}

.p {
  margin-top: 0.8em;
  margin-bottom: 0;
}

.h2 {
  margin: 0 0;
}

.commentbtn {
  margin-left: 0.25em;
  width: 6.5em;
}

.commentarea {
  margin: 0 0;
}
