.articles {
  display: grid;
  grid-template-areas:
    'control'
    'header'
    'topics'
    'creation'
    'articles'
    'articles'
    'articles'
    'about';
  grid-template-columns: auto;
  /* grid-template-rows: 5vh 20vh 20vh 20vh 1fr; */
  grid-template-rows: auto;
  grid-row-gap: 1vh;
  grid-column-gap: 1vw;
  margin-top: 4em;
}

@media only screen and (min-width: 400px) {
  .articles {
    display: grid;
    grid-template-areas:
      'header control .'
      'articles articles topics'
      'articles articles creation'
      'articles articles about'
      'articles articles . ';
    grid-template-columns: 2fr 2fr 17%;
    grid-template-rows: 5vh 20vh 20vh 20vh 1fr;
    grid-row-gap: 1vh;
    grid-column-gap: 1vw;
  }
}

.header {
  grid-area: header;
  padding-left: 1em;
  color: whitesmoke;
}

@media only screen and (min-width: 400px) {
  .header {
    grid-area: header;
    padding-left: 1.8em;
    color: whitesmoke;
  }
}
.articles {
  grid-area: articles;
}

.list {
  grid-area: articles;
  grid-row-start: 1 span 5;
  list-style-type: none;
  color: whitesmoke;
}

.listitems {
  border-bottom: 2px solid;
  border-color: whitesmoke;
}

.control {
  grid-area: control;
  display: flex;
  color: whitesmoke;
  position: fixed;
  margin-left: 6em;
}

@media only screen and (min-width: 400px) {
  .control {
    grid-area: control;
    display: flex;
    color: whitesmoke;
    position: fixed;
    margin-left: 10em;
  }
}

.label {
}

@media only screen and (min-width: 400px) {
  .label {
    margin-right: 0.5em;
  }
}

.creation {
  grid-area: creation;
  border: 1px solid blue;
}

.about {
  grid-area: about;
  border: 1px solid green;
}
