.h4 {
  margin: 0 0;
}

.h5 {
  margin-top: 0.8em;
  margin-bottom: 1em;
}

.ul {
  padding-left: 1em;
  margin-top: 0;
}

.li {
  list-style-type: none;
  border-bottom-style: inset;
  border-bottom-color: whitesmoke;
}
