.form {
  display: flex;
}

.commenttext {
  text-align: left;
  width: 10em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.inputbox {
  width: 15em;
}

@media only screen and (min-width: 800px) {
  .inputbox {
    width: 50em;
  }
}
