.navbar {
  background: #242424 !important;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 'logo links user';
  position: fixed;
  top: 0;
  width: 100vw;
}

@media only screen and (min-width: 800px) {
  .navbar {
    background: #242424 !important;
    padding: 5px 10px !important;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'logo links user';
  }
}
.logo {
  grid-area: logo;
}

.links {
  grid-area: links;
  margin-top: 1em;
}

.user {
  grid-area: user;
  vertical-align: top;
  text-align: right;
  color: #f1fffa;
  padding-right: 2em;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px important;
  font-size: 20px;
  line-height: 1.5;
  box-sizing: border-box;
  background: #3366ff;
  color: #f1fffa;
  transition: all 1s ease;
  font-family: 'Lato', sans-serif;
}

.btn:hover {
  color: #3366ff;
  background: #191919;
}
