.navbar {
  background: #242424 !important;
  display: grid;
  grid-template-areas: 'logo links user';
  position: fixed;
  top: 0;
  height: 2.5em;
  width: 100vw;
}

@media only screen and (min-width: 800px) {
  .navbar {
    background: #242424 !important;
    display: grid;
    grid-template-areas: 'logo links user';
    height: 4em;
  }
}

.logo {
  grid-area: logo;
}

.links {
  grid-area: links;
  margin-top: 0.5em;
}

.user {
  margin-top: 0.5em;
  grid-area: user;
  vertical-align: top;
  text-align: right;
  color: #f1fffa;
  padding-right: 0.5em;
}

@media only screen and (min-width: 800px) {
  .user {
    margin-top: 1.1em;
    grid-area: user;
    vertical-align: top;
    text-align: right;
    color: #f1fffa;
    padding-right: 3em;
  }
  .links {
    grid-area: links;
    margin-top: 1.1em;
    padding-right: 26em;
  }
}

.btn {
  font-size: 1em;
  box-sizing: border-box;
  background: #3366ff;
  border-radius: 3px;
  color: #f1fffa;
  transition: all 1s ease;
  font-family: 'Lato', sans-serif;
  line-height: 1;
}

@media only screen and (min-width: 800px) {
  .btn {
    line-height: 1.5em;
  }
}

.btn:hover {
  color: #3366ff;
  background: #191919;
}

.logonbutton {
  font-size: 1em;
  line-height: 1;
  background: #3366ff;
  color: #f1fffa;
  transition: all 1s ease;
  font-family: 'Lato', sans-serif;
  margin-left: 0.5em;
}

.logonbutton:hover {
  color: #3366ff;
  background: #191919;
}

@media only screen and (min-width: 800px) {
  .logonbutton {
    font-size: 1em;
    line-height: 1.5;
    margin-left: 0.5em;
  }
}
