.orderbutton {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  position: fixed;
  margin-left: 7em;
}

@media only screen and (min-width: 800px) {
  .orderbutton {
    margin: 1em;
    margin-top: 1em;
    margin-left: 13em;
    font-size: 1.1em;
  }
}
