.label {
  margin-top: 2em;
  font-size: 1em;
}

@media only screen and (min-width: 800px) {
  .label {
    font-size: 1.5em;
    margin-top: 0.25em;
  }
}

.sortbutton {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  position: fixed;
  margin-top: 1.3em;
  margin-left: 5em;
  top: 4em;
}

@media only screen and (min-width: 800px) {
  .sortbutton {
    top: 2.5em;
    margin-left: 4.5em;
    font-size: 1.2em;
  }
}
