.sortbutton {
  font-family: 'Kalam', cursive;
  font-size: 1em;
  position: fixed;
  margin-left: 0;
}

.droptext {
  font-family: 'Kalam', cursive;
}

@media only screen and (min-width: 400px) {
  .sortbutton {
    margin: 1em;
    margin-top: 1em;
    margin-left: 6em;
    font-size: 1.1em;
  }
}
