.list {
  list-style-type: none;
}

.catheader {
  color: #f1fffa;
  margin-left: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  position: fixed;
  font-size: 1.5em;
}

.topicbtn {
  margin-top: 1em;
  margin-right: 0.1em;
  border-radius: 0.3em;
  font-size: 1.5em;
  line-height: 1.5;
  background: #5588ff;
  color: whitesmoke;
  transition: all 1s ease;
  font-family: 'Lato', sans-serif;
}

.topicbtn:hover {
  color: #5588ff;
  background: #191919;
}

.container {
  grid-area: topics;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  position: fixed;
}
