.list {
  list-style-type: none;
}

.listitem {
  font-family: 'Kalam', cursive;
}

.container {
  grid-area: topics;
  border: 1px solid red;
  border-radius: 1rem;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  position: fixed;
}
