.articles {
  display: grid;
  grid-template-areas:
    'control'
    'header'
    'topics'
    'creation'
    'articles'
    'articles'
    'articles'
    'about';
  grid-template-columns: 1fr;
  grid-row-gap: 1vh;
  grid-column-gap: 1vw;
  margin-top: 2.5em;
}

@media only screen and (min-width: 800px) {
  .articles {
    display: grid;
    grid-template-areas:
      'header control'
      'articles topics'
      'articles creation'
      'articles about';
    grid-template-columns: auto;
    margin-top: 4em;
  }
}

.header {
  grid-area: header;
  padding-left: 1em;
  color: whitesmoke;
  font-size: 1em;
  margin-top: 2em;
  position: fixed;
}

@media only screen and (min-width: 800px) {
  .header {
    margin-top: 0.25em;
    font-size: 1.5em;
    padding-left: 1.8em;
  }
}
.articles {
  grid-area: articles;
}

.list {
  grid-area: articles;
  grid-row-start: 1 span 5;
  list-style-type: none;
  color: whitesmoke;
}

.listitems {
  border-bottom: 2px solid;
  border-color: whitesmoke;
}

.control {
  grid-area: control;
  display: flex;
  color: whitesmoke;
  position: fixed;
  margin-left: 10em;
}

@media only screen and (min-width: 800px) {
  .control {
    grid-area: control;
    display: flex;
    color: whitesmoke;
    position: fixed;
    margin-left: 10em;
  }
}

.creation {
  grid-area: creation;
  border: 1px solid blue;
}

.about {
  grid-area: about;
  border: 1px solid green;
}
