.h4 {
  margin: 0 0;
}

.h5 {
  margin-top: 0.8em;
  margin-bottom: 1em;
  width: 5em;
}

.ul {
  padding-left: 1em;
  margin-top: 0;
  width: 21em;
  overflow-wrap: break-word;
  text-align: left;
  font-size: 1em;
}

.deletebtn {
  font-size: 0.8em;
}

.li {
  list-style-type: none;
  border-bottom-style: inset;
  border-bottom-color: whitesmoke;
}

@media only screen and (min-width: 800px) {
  .ul {
    font-size: 1em;
    width: 100%;
  }
  .deletebtn {
    font-size: 1em;
  }
}
