.App {
  background: #a8e5ee;
  background: linear-gradient(
      to right,
      rgba(113, 128, 114, 0.9),
      rgba(113, 128, 114, 0.5)
    ),
    url(img/banner-2.jpeg) center/cover fixed no-repeat;
  font-family: 'Lato', sans-serif;
}
