.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'header header'
    'content topics'
    'content content-creation'
    'content about'
    'content space';
}

.content {
  grid-area: content;
  background: lightgrey;
}
